<div class="flex flex-col justify-start items-center h-[calc(50vh)]">
  <h2 class="text-7xl font-bold mt-20 underline">Sign Up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="min-w-[60vw]  mt-5 p-20  h-[60vh] flex flex-col items-center space-y-5 bg-slate-100 rounded-lg">
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field ">
        <%= f.label :email, class:"font-bold text-2xl" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"mt-1 min-w-[40vw] h-[3vw] p-2 text-xl outline outline-2 outline-slate-600 rounded-sm" %>
      </div>

      <div class="field">
        <%= f.label :password, class:"font-bold text-2xl" %>
        <% if @minimum_password_length %>
        <em class="font-semibold text-lg">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"mt-1 min-w-[40vw] h-[3vw] p-2 text-xl outline outline-2 outline-slate-600 rounded-sm" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class:"font-bold text-2xl" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"mt-1 min-w-[40vw] h-[3vw] p-2 text-xl outline outline-2 outline-slate-600 rounded-sm" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up",class:"bg-black text-white p-5 min-w-[40vw] rounded-sm hover:cursor-pointer font-bold" %>
      </div>
    <% end %>
    <div>
      Have already an account?
      <%= render "devise/shared/links" %>
    </div>

    </div>

</div>
