<div class="md:w-2/3">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex flex-col items-center w-screen mt-4">
    <%= render "tutorials/page"%>
    <div class="flex justify-start w-[70vw] gap-3">
      <%if current_user%>
        <% if @tutorial.user_id == current_user.id %>
          <%= link_to "Edit this post", edit_tutorial_path(@tutorial),class: "w-[15vw] text-center rounded-lg py-3 px-3 text-slate-200 font-bold bg-blue-500 inline-block" %>
        <%end%>
      <%end%>
      <% if @tutorial.video.attached? %>
        <%= link_to "Download", download_tutorial_path(@tutorial), class:"text-center rounded-lg py-3 px-3 bg-blue-600 text-slate-100 font-bold"%>
      <%end%>
      <div class="flex justify-end w-[70vw]">
        <%if current_user%>
          <% if @tutorial.user_id == current_user.id %>
            <%= link_to "Back to my dashboard", pages_media_path,class: "rounded-lg py-3 px-3 bg-slate-200 inline-block font-semibold" %>
          <%else%>
            <%= link_to "Back to posts", tutorials_path, class: " rounded-lg py-3 px-3 bg-slate-200 inline-block font-semibold" %>

          <%end%>
        <%end%>
      </div>

    </div>

  </div>
</div>
